body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header img {
    width: 5%;
}

header .wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;  
}

header {
    background-color: rgb(242, 215, 219);
}

header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: 0px 10px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    flex-direction: column;
    background-color: white;
}

main article img {
    width: 20%;
    float: right;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

main div article ul {
    border: 1px solid rgb(86, 71, 71);
    border-radius: 20px;
    padding: 20px;
    flex: 1; 
}

main div article ul li {
    list-style:none;
    border-bottom: 1px solid rgb(86, 71, 71);
    padding: 5px;
}

.circles {
    display: flex;
    gap: 35px;
}

article div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid rgb(86, 71, 71);
}

.lightblue {
    background-color: rgb(187, 216, 216);
    border-top:2px solid rgb(86, 71, 71);
    border-bottom:2px solid rgb(86, 71, 71);
}

