* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color: rgb(109, 131, 77);
}

.header__images{
  fill: white;
  display:block;
  margin:0 auto;
}

.header__list {
  display:none;
}

.page__title-1,
.article__title,
.article__description {
   text-align: center;
}

.page-layout,
picture {
  display: grid;
  justify-items: center;
}

.cards {
  grid-template-columns: 20px 1fr 20px;
}

.article__image {
  height: 10em;
  width: 100%;
 }

 .article__title {
  text-transform:uppercase;
 }

 .article__description__uppercase {
  font-weight: bold;
 }

.form {
 display: grid;
 grid-template-rows: 2fr 1fr 1fr;
 justify-items: stretch;
}

 .form__input {
  border: none;
  border-bottom: 2px solid black;
 }

.form-check {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.form__button {
  color: white;
  background-color: rgb(46, 42, 42);
  border: none;
  padding: 10px 0px 10px 0px;
}

.footer {
  background-color: rgb(46, 42, 42);
  color: white;
}

.footer__down-list-item {
  list-style: none;
}

.footer__down-list-item--a{
  color: white;
  text-decoration: none;
}
